<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>VR in the Past - UoE - Credits</title>

  <link rel="stylesheet" href="views/css/form_style.css">

<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script>
  </script>

</head>



<body>
  <h1 class="register-title">Credits</h1>

  <form class="register" action="/" onsubmit="" method="get">
    <p> VR in the Past Project Team<br>
    - With special thanks to my supervisor Kartic Subr; co-supervisors Maya Hoole, Hannah McGlynn, Xavier Rubio; and, Developer Advocate Diekus Gonzalez!
    </p>
    <input type="submit" value="Thanks! Play again?!" class="register-button">
  </form>
</body>


</html>
