<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>VR in the Past - UoE - Posttest</title>

  <link rel="stylesheet" href="views/css/form_style.css">

<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script>
  </script>

</head>



<body>
  <h1 class="register-title">Test Your Knowledge</h1>

  <form class="register" action="/credits" onsubmit="return validate();" method="get">
    <h3 class="register-quiz-title">2 Minutes Quiz - Posttest</h3>
    <p>
      1. Ava's skull and the beaker were found at Achavanic Archeological site.<br>
      <input type="radio" name="q1" value="yes" checked> Yes<br>
      <input type="radio" name="q1" value="no"> No<br>
       2. Is the phrase 'Rign of Stones' correlated with any of the archaeological sites?<br>
      <input type="radio" name="q2" value="yes" checked> Yes<br>
      <input type="radio" name="q2" value="no"> No<br>
       3. Is the process of 'Excavation' carried out after 'Dating'?<br>
      <input type="radio" name="q3" value="yes" checked> Yes<br>
      <input type="radio" name="q3" value="no"> No<br>
       4. An 'Expert in the field' need not be consulted in the 'Macroscopic Analysis' process.<br>
      <input type="radio" name="q4" value="true" checked> True<br>
      <input type="radio" name="q4" value="false"> False<br>
       5. Which artifact was found while excavating Edinburgh Castle?<br>
      <input type="radio" name="q5" value="knife" checked> Dagger<br>
      <input type="radio" name="q5" value="dagger"> Knife<br>
    </p>
    <input type="submit" value="Finish the Game" class="register-button">
  </form>
</body>


</html>
