<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>VR in the Past - UoE</title>

  <script src="https://aframe.io/releases/0.5.0/aframe.js"></script>

  <script src="../components/utility.js"></script>
  <script src="../components/site_exploration.js"></script>
  <script src="../components/tool_process_selection.js"></script>
  <script src="../components/site_excavation.js"></script>
  <script src="../components/model_exploration.js"></script>
  <script src="../components/summary.js"></script>
</head>

<body>

  <a-scene sound="volume: 100; autoplay: true; loop:true; src: #backgroundMusic" physics="debug: false">

    <a-assets>
      <img id="transpImage" src="views/img/map.png">

      <img id="sti1Image" src="views/img/sticker1.png">
      <img id="sti2Image" src="views/img/sticker2.png">

      <img id="terrain1Image" src="views/img/1987-excavations.jpg">
      <img id="terrain3Image" src="views/img/GrassLakes14_WEB.jpg">
      <img id="terrain4Image" src="views/img/NE306_salisbury.jpg">
      <img id="terrain2Image" src="views/img/Skull-shown-in-excavation.jpg">
      <img id="tooltip" src="views/img/tooltip.png">

      <img id="tool1Image" src="views/img/expert1.jpg">
      <img id="tool2Image" src="views/img/Reso.jpg">
      <img id="tool3Image" src="views/img/AMS_system_layout.jpg">
      <img id="process1Image" src="views/img/macroscopicAnalysis.jpg">
      <img id="process2Image" src="views/img/art-tl-thermo.jpg">
      <img id="process3Image" src="views/img/RadiocarbonDating.gif">

      <img id="tool1ZoomedImage" src="views/img/archae7.gif">
      <img id="tool2ZoomedImage" src="views/img/Reso.jpg">
      <img id="tool3ZoomedImage" src="views/img/1_MV_accelerator_mass_spectrometer.jpg">
      <img id="process1ZoomedImage" src="views/img/macroscopicAnalysis.jpg">
      <img id="process2ZoomedImage" src="views/img/art-tl-thermo.jpg">
      <img id="process3ZoomedImage" src="views/img/radiocarbonZoomed.jpg">

      <audio id="backgroundMusic" src="sound/320497__frankum__jazzy-drum-base.mp3" preload="auto"></audio>

      <a-asset-item id="object_beaker" src="models/beaker/beaker_real.obj"></a-asset-item>
      <a-asset-item id="material_beaker" src="models/beaker/beaker_real.mtl"></a-asset-item>
      <a-asset-item id="object_avaskull" src="models/ava_skull/ava_skull.obj"></a-asset-item>
      <a-asset-item id="material_avaskull" src="models/ava_skull/ava_skull.mtl"></a-asset-item>
    </a-assets>

    <a-image id="mapIm" brief begin="click" position="0 0 -3" width="67" height="84" rotation="0 0 0" src="#transpImage" transparent="true" alpha-test="0.5"></a-image>

    <!-- Site Exploration -->
    <a-cone id='avaCo' onclick="exploreSite('avaCo')" color="#FFFF00" radius-bottom="1" height="2" radius-top="0" position="3 5 0" rotation="0 0 0" ></a-cone>
    <a-cone id='mysteriesOfMummies' onclick="exploreSite('mysteriesOfMummies')" position="-19.8 -6.8 0" color="#FFFF00" radius-bottom="1" height="2" radius-top="0" rotation="0 0 0" ></a-cone>
    <a-cone id='rignOfStones' onclick="exploreSite('rignOfStones')" position="2.6 -8.6 0" color="#FFFF00" radius-bottom="1" height="2" radius-top="0" rotation="0 0 0" ></a-cone>
    <a-cone id='edinburghCastle' onclick="exploreSite('edinburghCastle')" position="8.5 -22.7 0"  color="#FFFF00" radius-bottom="1" height="2" radius-top="0" rotation="0 0 0" ></a-cone>
    <a-cone id='herosCairn' onclick="exploreSite('herosCairn')" position="4 -28 0" color="#FFFF00" radius-bottom="1" height="2" radius-top="0" rotation="0 0 0" ></a-cone>

    <!-- Site Excavation -->
    <a-cone id='avaExCo' onclick="presentScene2()" color="#00FF00" radius-bottom="1" height="2" radius-top="0" position="5 5 3" rotation="0 0 0" ></a-cone>

    <!-- Days Remaining -->
    <a-box id='timerPl' class='' height='5' width='12' depth='-1' position='32 20 6' rotation='20 -30 0' color='gray'
    onclick="" text='color: #fff855; alphaTest: 0; align: center; wrapCount: 10; letterSpacing: 10; value:Day 1/\n 4 Weeks'>

    <!-- stickers -->
    <a-image id="sti1Im" opacity="0" begin="click" position="0 -8 0" width="16" height="8" rotation="0 0 0" src="#sti1Image" transparent="true" alpha-test="0.5"></a-image>
    <a-image id="sti2Im" opacity="0" begin="click" position="0 -22 0" width="16" height="16" rotation="0 0 0" src="#sti2Image" transparent="true" alpha-test="0.5"></a-image>

  </a-box>

  <!-- progress status -->
  <a-entity id='progressPl' class='' height='9' width='12' depth='-1' position='0 19 6' rotation='0 0 0' color='gray'
  onclick="" text="color: #fff855; alphaTest: 0; align: center; wrapCount: 10; letterSpacing: 10; value: X-O-O-O">

    <a-sphere id='level1' onmouseenter="progressStatus('level1')" onmouseleave="progressStatus('level1')" position='-5 0 0'radius="1.25" color="#ef2d5e"></a-sphere>
    <a-sphere id='level2' onmouseenter="progressStatus('level2')" onmouseleave="progressStatus('level2')" position='-2 0 0'radius="1.25" color="#fff855"></a-sphere>
    <a-sphere id='level3' onmouseenter="progressStatus('level3')" onmouseleave="progressStatus('level3')" position='1 0 0'radius="1.25" color="#fff855"></a-sphere>
    <a-sphere id='level4' onmouseenter="progressStatus('level4')" onmouseleave="progressStatus('level4')" position='4 0 0'radius="1.25" color="#fff855"></a-sphere>
  </a-entity>

<!-- Tools/Processes -->
<a-entity id="tlprEn" position='-36 16 9' rotation='0 45 0'>

  <a-box id='toolPrPl' height='5' width='12' depth='-1'  color='gray'
  onmouseenter='showChoices(true)' text='color: #fff855; alphaTest: 0; align: center; wrapCount: 10; letterSpacing: 10; value: Tool\nProcess'></a-box>

  <a-box id='tool1Pl' cursor-listener src="#tool1Image" class='tools' position='-3 -6 0' height='5' width='5' depth='-1' color='#cccccc'
  visible="false" opacity="1" onclick="selectChoice('tool1Pl','tools')" text='opacity: 1; color: #ccff66; alphaTest: 0; align: center; wrapCount: 3; letterSpacing: 4; value:T1'>
</a-box>

<a-box id='tool1PlInfo' class='toolsInfo' position='3 -6 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="exploreToolProcess('tool1PlInfo')" text='color: #ccff66; alphaTest: 0; align: center; wrapCount: 1; letterSpacing: 4; value:?'>
</a-box>

<a-box id='tool2Pl' cursor-listener src="#tool2Image" class='tools' position='-3 -12 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="selectChoice('tool2Pl','tools')" text='color:#ccff66; alphaTest: 0; align: center; wrapCount: 3; letterSpacing: 4; value:T2'></a-box>

<a-box id='tool2PlInfo' class='toolsInfo' position='3 -12 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="exploreToolProcess('tool2PlInfo')" text='color:#ccff66; alphaTest: 0; align: center; wrapCount: 1; letterSpacing: 4; value:?'></a-box>

<a-box id='tool3Pl' cursor-listener src="#tool3Image" class='tools' position='-3 -18 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="selectChoice('tool3Pl','tools')" text='color: #ccff66; alphaTest: 0; align: center; wrapCount: 3; letterSpacing: 4; value:T3'></a-box>

<a-box id='tool3PlInfo' class='toolsInfo' position='3 -18 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="exploreToolProcess('tool3PlInfo')" text='color: #ccff66; alphaTest: 0; align: center; wrapCount: 1; letterSpacing: 4; value:?'>
</a-box>


<a-box id='process1Pl' cursor-listener src="#process1Image" class='processes' position='-3 -24 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="selectChoice('process1Pl','processes')" text='color: #66ccff; alphaTest: 0; align: center; wrapCount: 3; letterSpacing: 4; value:P1'></a-box>

<a-box id='process1PlInfo' class='processesInfo' position='3 -24 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="exploreToolProcess('process1PlInfo')" text='color: #66ccff; alphaTest: 0; align: center; wrapCount: 1; letterSpacing: 4; value:?'>
</a-box>

<a-box id='process2Pl' cursor-listener src="#process2Image" class='processes' position='-3 -30 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="selectChoice('process2Pl','processes')" text='color: #66ccff; alphaTest: 0; align: center; wrapCount: 3; letterSpacing: 4; value:P2'></a-box>

<a-box id='process2PlInfo' class='processesInfo' position='3 -30 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="exploreToolProcess('process2PlInfo')" text='color: #66ccff; alphaTest: 0; align: center; wrapCount: 1; letterSpacing: 4; value:?'>
</a-box>

<a-box id='process3Pl' cursor-listener src="#process3Image" class='processes' position='-3 -36 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="selectChoice('process3Pl','processes')" text='color: #66ccff; alphaTest: 0; align: center; wrapCount: 3; letterSpacing: 4; value:P3'></a-box>

<a-box id='process3PlInfo' class='processesInfo' position='3 -36 0' height='5' width='5' depth='-1' color='#cccccc'
visible="false" onclick="exploreToolProcess('process3PlInfo')" text='color: #66ccff; alphaTest: 0; align: center; wrapCount: 1; letterSpacing: 4; value:?'>
</a-box>

</a-entity>

<!-- Excavation Site Terrains -->
<a-plane id="terrain1Pl" tlpr-listener onclick="found(1)" src="#terrain1Image" visible=false position="-10 10 0" rotation="0 0 0" width="20" height="20"></a-plane>
<a-plane id="terrain3Pl" tlpr-listener onclick="found(3)" src="#terrain3Image" visible=false position="10 10 0" rotation="0 0 0" width="20" height="20"></a-plane>
<a-plane id="terrain4Pl" tlpr-listener onclick="found(4)" src="#terrain4Image" visible=false position="-10 -10 0" rotation="0 0 0" width="20" height="20"></a-plane>
<a-plane id="terrain2Pl" tlpr-listener onclick="found(2)" src="#terrain2Image" visible=false position="10 -10 0" rotation="0 0 0" width="20" height="20"></a-plane>

<!-- model 1  and 2-->
<a-entity id="model1En" visible="false" rotation="0 0 0" position="0 -12.5 8">
  <a-obj-model onclick="show3dVR(1)" src="#object_beaker" mtl="#material_beaker" >
  </a-obj-model>
  <a-animation attribute="rotation"
  dur="10000"
  fill="forwards"
  to="0 360 0"
  repeat="indefinite"></a-animation>
</a-entity>


<a-entity id="model2En" visible="false" rotation="0 0 0" position="0 -12.5 8">
  <a-obj-model onclick="show3dVR(2)" src="#object_avaskull" mtl="#material_avaskull" >
  </a-obj-model>
  <a-animation attribute="rotation"
  dur="10000"
  fill="forwards"
  to="0 360 0"
  repeat="indefinite"></a-animation>
</a-entity>

<!-- model 1 and 2 -->

<!-- working-develop with lightweight models     <a-entity id="model1En" visible="false" rotation="0 0 0" position="0 -3.5 37">
<a-box  onclick="show3dVR(1)" color="#ff6fcf"></a-box>
<a-animation attribute="rotation"
dur="10000"
fill="forwards"
to="0 360 0"
repeat="indefinite"></a-animation>
</a-entity>


<a-entity id="model2En" visible="false" rotation="0 0 0" position="0 -3.5 37">
<a-plane  onclick="show3dVR(2)" color="#ff6fcf"></a-plane>
<a-animation attribute="rotation"
dur="10000"
fill="forwards"
to="0 360 0"
repeat="indefinite"></a-animation>
</a-entity>
-->

  <a-entity id="posCam" position="0 -5 45">
    <a-camera>
      <a-cursor color="#FF0000"></a-cursor>
    </a-camera>
  </a-entity>

  <a-sky src="views/img/Street View 360.jpg" color="#FFFFFF" rotation="0 180 0"></a-sky>
</a-scene>
</body>
</html>
